*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/word_database
/word_database-shm
/word_database-wal
/app/release

# Keystore files - DO NOT commit these!
*.jks
*.keystore
keychain
key.properties
/build-logic
